*{
    margin: 0;
    padding: 0;
}
ul,li{ padding:0;margin:0;list-style:none}
a{
    text-decoration: none;
}
body{
    /* background: #f8f8f9; */
}
.foot {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.foot-list {
    font-size: 18px;
    height: 36px;
    line-height: 36px;
    display: flex;
    background: #eeeeee;
}
.foot-title {
    flex: 1;
    justify-content: space-between;
    text-align: center;
}